
<div class="container">
	<dl class="dl-horizontal text-left">
	    				<dt>Product Name</dt>
	    				<dd>
	    					<div class="form-group">
	    						<input type="text" name="product_name" class="form-control">
	    					</div>
	    				</dd>
	    				
	    				<dt>Price</dt>
	    				<dd>
	    					<div class="form-group">
	    						<input type="number" name="product_price" class="form-control" placeholder="0.00">
	    					</div>
	    				</dd>
	    				<dt>Position</dt>
	    				<dd>
	    					<div class="form-group">
	    						<input type="number" name="product_position" value="1" class="form-control">
	    					</div>
	    				</dd>
	    				<dt>Category</dt>
	    				<dd>
	    					<div class="form-group">
	    						<div class="input-group">
							      <select class="form-control" name="category" id="category_select">
							      		<option value="">Select Category</option>
							      			<option value="">_name></option>
							      </select>
							      <span class="input-group-btn">
							        <button class="btn btn-default" style="margin:0px;" type="button" data-toggle="modal" data-target="#myModal">+</button>
							      </span>
							    </div><!-- /input-group -->
	    					</div>
	    				</dd>
	    				<dt>Short Description</dt>
	    				<dd>
	    					<div class="form-group">
	    						<input type="text" name="short_description" class="form-control">
	    					</div>
	    				</dd>
	    				<dt>Description</dt>
	    				<dd>
	    					<div class="form-group">
	    						<textarea class="textarea" name="description"></textarea>
	    					</div>
	    				</dd>
	    				<dt>Images</dt>
	    				<dd>
	    					<div class="form-group">
	    						<div class="input-group">
							      <input type="file" name="other_file[]" class="form-control">
							      <span class="input-group-btn">
							        <button class="btn btn-default btn-remove-image" type="button" style="margin:0px;">x</button>
							      </span>
							    </div>
	    					</div>
	    					<div class="row text-right">
	    						<a href="javascript:void(0);" class="btn btn-primary btn-add-more">Add More</a>
	    					</div>
	    				</dd>
	    			</dl>
</div>